<div class="container">
  <nav class="navbar navbar-light bg-faded">
    <div class="navbar-nav mr-auto">
      <div class="row">

        <div class="nav-item">
          <div class="col">
            <a class="nav-link" style="color: #b2b2b2" routerLink="/products" routerLinkActive="active"><b>Produkte</b></a>
          </div>
        </div>
        <div class="nav-item">
          <div class="col">
            <a class="nav-link" style="color: #b2b2b2" routerLink="/basket"
               routerLinkActive="active"><b>Warenkorb</b></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
